<h3 id="about_header">About</h3>

<div id="about_me">
    <div id="pic">

    </div>
   <p>
       Well hello there! You were brave enough to trespass on to my site, then you're brave enough to read more about me! You're so brave...
   </p>
    <p>
        It all started two years ago, or there 'round abouts, when I decided I liked to write. Anyone who knew me at all would have definitely raised an eyebrow upon hearing me mention I liked to write. But not only that, get an ear full of what I've been working on in my latest novel. Did I hear you say, novel? Two of 'em, in fact. In the works.
    </p>
    <p>
        This website is a place of discovery. You can either (a) find out I'm out of my tree and I should stick to my day job or (b) give the man some support and tell him to keep it up. And oh, buy my book(s) too while you're at it. I have a link in the main site navigation that will tell you more about those said books. You can click on "future" to find out more.
    </p>
    <p>
        You are my visitor, so I wanna make you feel welcome. Now that you've gotten to know me a little, feel free to look me up on Facebook or shoot me an email. Tell me a little something about yourself and say one nice thing about what it is you like about my website/writing. Thanks!
    </p>
    <p>
        Sincerely,
    </p>
    <p id="signature">David Berko</p>

</div>

<style type="text/css">
    #signature { font: 20pt/20pt fantasy, cursive, Serif }
</style>
