    <h1><%= @user.title %></h1>
    <div id="content">
        <p><%=simple_format @user.story %></p>
        <div id="social">
            <g:plus action="share"></g:plus>
            <fb:like href= "" layout="button_count" show_faces="false" width="450" font=""></fb:like>
        </div>
        <h3>Leave a Comment</h3>
        <%= form_for [@user, Commenter.new] do |f| %>
        <p>
            <%= f.label :name %></br>
            <%= f.text_field :name %>
        </p>
        <p>
            <%= f.label :comment %></br>
            <%= f.text_area :comment, :cols=>"25", :rows=>"5" %>
        </p>
        <p>
            <%= f.submit "comment" %>
        </p>
        <% end %>
    </div>
    <div id="comments">
        <% @user.commenters.each do |c| %>
            <div id="commenters">

                <div id="comment_title"><b><%= c.name %></b> said <%= time_ago_in_words(c.created_at)%> ago<br/></div>

                "<%= c.comment %>"
            </div>
             <% end %>
    </div>


