/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */
body {
    background-image: url('Leather.jpg');
    background-attachment: fixed;
    margin: 50px;
}
#menu {
    margin-top: 73px;
    width: 150px;
    float: left;
    margin-right: 5px;
    padding: 5px 0 0 5px;
    position: fixed;
    opacity: 0.5;

#link1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 45px;
    background-image: url('Ink.jpg');
    height: 75px;
}
#link2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 45px;
    background-image: url('Ink.jpg');
    height: 75px;
}
    }

#feather {
    background-image: url('quil.jpg');
    background-attachment: fixed;
    background-repeat: repeat-none;
    height: 200px;
}






