// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {

}
#menu {
  border-top: 1px solid #99CC33;
  border-left: 1px solid #99CC33;
  border-right: 1px solid #99CC33;
  height: 1000px;
  width: 150px;
  float: left;
  margin-right: 5px;
  padding: 5px 0 0 5px;
  border-color: Blue Blue;
  position: fixed;

}
#content {

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 750px;
  height: 1000px;
}