// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
   color: floralwhite;
   margin-bottom: 40px;

}
#container {

  width: 900px;


}
span {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#menu {
  width: 150px;
  float: left;
  margin-right: 5px;
  padding: 5px 0 0 5px;
  position: fixed;
  opacity: 0.5;

  #link1  {

    color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 45px;
    background-image: url('Ink.jpg');
    height: 75px;
  }
  #link2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 45px;
    background-image: url('Ink.jpg');
    height: 75px;
  }
}

#feather {
  background-image: url('stylus.jpg');
  background-attachment: fixed;
  background-repeat: repeat-none;
  height: 200px;
}
#content {

  border: black solid 1px;


  margin-left: 155px;
  margin-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  width: 900px;

  background-color: floralwhite;
  p {
    text-shadow: 1px 1px #909090;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 2px;
  }
  #social {
    border-top: black 1px solid;
    padding: 2px;
    margin-bottom: 40px;
  }
}