xs// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3{
   color: floralwhite;
}

#title {
       border-bottom: black 1px solid ;
}

#writing {
    background-color: floralwhite;
    margin-left: 250px;
    padding: 50px;
    #story {

      background-color: floralwhite;
      padding: 50px;
    }
  }
  #about_header {
    color: floralwhite;
  }

  #about_me_container {
    background-color: floralwhite;
    height: 750px;

    margin-left: 156px;
    margin-right: 190px;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  #pic {
    width:250px;
    height:200px;
    background: transparent url(About.jpg) -5px -45px no-repeat;
    margin-left: 25px;
    margin-top: 25px;


  }

form {
  margin-left: 250px;
  color: floralwhite;
}

#future {
  color: floralwhite;
}
#future_wrapper {
  height: 450px;


  margin-left: 156px;
  margin-right: 190px;
  background-color: floralwhite;
  font-family: "Comic Sans MS", cursive, sans-serif;
  #future_paragraph {
    padding: 50px;
    font-size: 50px;
  }
}
#comments {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;


  margin-left: 155px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  width: 900px;

  background-color: floralwhite;
  padding-bottom: 30px;
  #commenters {
    border: black solid 2px;
    margin-bottom: 20px;
    padding: 4px;
    #comment_title {
      border-bottom: black solid 1px;
      margin-bottom: 10px;
      background-color: whitesmoke;
    }
  }
}
#form {

}
