// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3{
   color: floralwhite;
}
#writing {
    background-color: floralwhite;
    margin-left: 250px;
    padding: 50px;
    #story {
      background-color: floralwhite;
      padding: 50px;
    }
  }

  #pic {

  }

